@page
@model LoginModel

@{
    Layout = "Shared/_Layout";
}

<div class="section">
    <div class="columns">
        <div class="column is-6 is-offset-3">


            <form method="post">
                <div class="field">
                    <div class="control">
                        <label class="label">Username</label> <input class="input" asp-for="LoginDto.Username">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Password</label> <input class="input" asp-for="LoginDto.Password">
                    </div>
                </div>

                <div class="field">
                    <button class="button is-success" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>