@page
@model ConfigureUsersModel

@{
    Layout = "_AdminLayout";
}

<div id="users" class="container">
    <input v-model="username">
    <input v-model="password">
    <button @@click="createUser">Create</button>
</div>


@section scripts{
    <script src="~/js/admin/users.js"></script>
}