@page
@model IndexModel

<div id="products" class="container">
    <div>
        <div v-if="!editing">
            <button class="button is-dark" @@click="newProduct">Add New Product</button>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>value</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr v-for="(product, index) in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.value}}</td>
                    <td>
                        <a @@click="editProduct(product.id, index)">Edit</a>
                    </td>
                    <td>
                        <a @@click="deleteProduct(product.id, index)">Delete</a>
                    </td>
                </tr>
            </table>
        </div>

        <div v-else>
            <label class="label">Product Name</label>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="productModel.name">
                </div>
            </div>

            <label class="label">Product Description</label>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="productModel.description">
                </div>
            </div>

            <label class="label">Product Value</label>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="productModel.value">
                </div>
            </div>

            <button class="button is-success" @@click="createProduct" v-if="!productModel.id">Create Product</button>
            <button class="button is-warning" @@click="updateProduct" v-else>Update Product</button>
            <button class="button" @@click="cancel">Cancel</button>
        </div>
    </div>

</div>


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/products.js"></script>
}