@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @{
        foreach (var product in Model.Products)
        {
            <p> @product.Name - @product.Description - @product.Value </p>
        }
    }
</div>