@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <label for="Name">Name</label>
        <input type="text" id="Name" asp-for="Product.Name">
        <label for="Description">Description</label>
        <input type="text" id="Description" asp-for="Product.Description">
        <label for="Value">Value</label>
        <input type="text" id="Value" asp-for="Product.Value">

        <input type="submit" value="Save Product">
    </form>
</div>

<div>
    @{
        foreach (var product in Model.Products)
        {
            <p> @product.Name - @product.Description - @product.Value </p>
        }
    }
</div>