@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    <tr v-for="product in products">
        <td>{{product.name}}</td>
        <td>{{product.value}}</td>
    </tr>
</table>