@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @{
        foreach (var product in Model.Products)
        {
            <a asp-page="Product" asp-route-name="@product.Name.Replace(" ", "-")">
                @product.Name - @product.Description - @product.Value
            </a>
            <br/>
        }
    }
</div>
<vc:cart view="Small"></vc:cart>